@import "assets/styles/colors";
@import "assets/styles/mixins";

.home-ingredients {
  &__thumb {
    position: relative;

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;

    background-position-y: -50px;
    background-repeat: no-repeat;
    background-size: cover;

    @include respond(tablet) {
      padding: 0 20px;

      background-position: center;
    }

    @include respond(phone) {
      flex-direction: column;

      background-image: none;
    }

    @include respond(mobile) {
      background-image: none !important;
    }
  }

  &__cards-left,
  &__cards-right {
    @include respond(tablet) {
      width: 45%;
    }

    @include respond(phone) {
      width: 100%;
    }
  }

  &__cards-left &__card-wrapper:nth-child(2) {
    transform: translateX(60px);

    @include respond(mobile) {
      transform: translateX(0);
    }
  }

  &__cards-left &__card-wrapper:last-child {
    @include respond(phone) {
      margin-bottom: 0;
    }
  }

  &__cards-right &__card-wrapper:nth-child(2) {
    transform: translateX(-60px);

    @include respond(mobile) {
      transform: translateX(0);
    }
  }

  &__cards-left &__card-wrapper:nth-child(2):hover {
    transform: translate(60px, -10px);

    @include respond(mobile) {
      transform: translateY(-10px);
    }
  }

  &__cards-right &__card-wrapper:nth-child(2):hover {
    transform: translate(-60px, -10px);

    @include respond(mobile) {
      transform: translateY(-10px);
    }
  }

  &__card {
    position: relative;

    flex: 1;
    max-width: 38rem;
    min-height: 18rem;
    padding: 40px;
    margin: 55px 0;
    border-radius: 4px;
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.2);

    background-color: $primary-white-color;

    transition: all 0.25s ease-in-out;

    cursor: default;

    @include respond(tablet) {
      min-height: 15rem;
      padding: 40px 30px;
    }

    @include respond(phone) {
      max-width: 100%;
      min-height: 15rem;
      padding: 40px 30px;
    }
  }

  &__card span {
    position: absolute;
    top: -20%;
    left: 20px;

    font-size: 2.2rem;
    width: 6rem;
    height: 6rem;
    padding: 18px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.12);

    color: $primary-black-color;
    background-color: $primary-white-color;
  }

  @include respond(mobile) {
    &__cards-right span {
      right: 20px;
      left: unset;
    }
  }

  &__card:hover {
    transform: translateY(-10px);
    box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.3);

    background-color: $primary-red-color;
  }

  &__card:hover :is(&__card-title, &__card-content) {
    color: $primary-white-color;
  }

  &__card-title {
    font-size: 2.2rem;
    margin-bottom: 8px;

    color: $primary-black-color;

    transition: all 0.12s ease-in-out;
  }

  &__card-content {
    font-size: 1.4rem;
    line-height: 1.6;

    color: $primary-grey-color;

    transition: all 0.12s ease-in-out;

    @include respond(mobile) {
      overflow: hidden;
      display: block;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }

  &__content {
    text-align: center;

    @include respond(mobile) {
      display: none;
    }
  }

  .primary-yellow-text {
    margin-top: 20px;

    @include respond(mobile) {
      margin-top: 0;
    }
  }

  &__food-name {
    font-size: 3.6rem;
    margin-top: 5px;
  }

  &__price {
    font-size: 3.6rem;
    margin: 5px 0 15px;

    @include respond(mobile) {
      font-size: 2.8rem;
    }
  }

  &__shape-st,
  &__shape-nd {
    position: absolute;
    top: 50%;

    width: 13rem;
    height: 75%;
    transform: translateY(-50%);

    background-repeat: no-repeat;

    @include respond(mobile) {
      display: none;
    }
  }

  &__shape-st {
    left: 30%;
  }

  &__shape-nd {
    right: 30%;
  }
}
