@import "assets/styles/colors";
@import "assets/styles/mixins";

.cart-handle {
  position: relative;

  padding: 0 25px 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.05);

  @include respond(phone) {
    padding: 0 15px 25px;
  }

  &__dropup {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    padding-top: 3px;
    height: 2.5rem;

    cursor: pointer;
  }

  &__dropup:before {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    content: "";

    width: 20%;
    height: 5px;
    border-radius: 999px;

    background-color: rgba(0, 0, 0, 0.25);
  }

  &__total {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-bottom: 10px;
  }

  &__txt {
    font-size: 1.8rem;
    text-transform: capitalize;
    font-weight: bold;

    @include respond(phone) {
      font-size: 1.65rem;
    }
  }

  &__price {
    font-size: 2.2rem;
    font-weight: bold;

    color: $primary-red-color;

    @include respond(phone) {
      font-size: 1.8rem;
    }
  }

  &__btns {
    display: flex;
    align-items: center;
  }

  &__btn {
    flex: 1;
  }

  &__btn:first-child {
    margin-right: 20px;
  }

  &__detail {
    width: 100%;
    height: 0;
    padding: 0 10px;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;

    transition: all 0.5s ease-in-out;
  }

  &__detail.active {
    height: 16rem;
    opacity: 1;
    visibility: visible;
  }

  &__detail-title {
    font-size: 1.8rem;
    margin-bottom: 12px;

    @include respond(phone) {
      font-size: 1.65rem;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__label {
    font-size: 1.4rem;

    color: $primary-grey-color;
  }

  &__content {
    font-size: 1.4rem;
    font-weight: 500;
  }
}
