@import "assets/styles/colors";
@import "assets/styles/mixins";

.primary-btn {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2) !important;
  letter-spacing: 0.5px !important;
  font-family: "Roboto", sans-serif !important;
  border-radius: 999px !important;
  width: max-content;
  font-size: 1.3rem !important;
  padding: 8px 15px !important;

  @include respond(mobile) {
    padding: 8px 13px !important;
    font-size: 1.1rem !important;
  }

  & svg {
    font-size: 1.75rem !important;
    margin-right: 3px;

    @include respond(mobile) {
      font-size: 1.6rem !important;
    }
  }

  &:hover {
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.25) !important;
  }

  &.red {
    color: $primary-white-color !important;
    background-color: #ff514e !important;
  }

  &.red:hover {
    background-color: #c33d3b !important;
  }
}
