@import "assets/styles/colors";
@import "assets/styles/mixins";

.home-analysis {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  min-height: 75rem;

  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  @include respond(mobile) {
    min-height: 60rem;
  }

  &__wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    position: relative;

    width: 17.5rem;
    height: 17.5rem;
    letter-spacing: 0.5px;

    background-color: transparent;

    @include respond(mobile) {
      width: 13.5rem;
      height: 13.5rem;
    }
  }

  &__content-text {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transform: translate(-50%, -50%);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;

    background-color: $primary-white-color;

    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  &__content:hover &__content-text {
    background-color: $primary-red-color;
  }

  &__content-name {
    font-size: 2.5rem;

    color: $primary-grey-color;

    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

    @include respond(mobile) {
      font-size: 1.8rem;
    }
  }

  &__content-price {
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: 0.5px;

    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

    @include respond(mobile) {
      font-size: 4.2rem;
    }
  }

  &__content:hover &__content-name,
  &__content:hover &__content-price {
    color: $primary-white-color;
  }

  &__btn {
    position: absolute;
    right: 15px;
    bottom: 5px;
    z-index: 2;

    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    transition: all 0.3s ease-in-out;

    cursor: pointer;

    @include respond(mobile) {
      width: 3.8rem;
      height: 3.8rem;

      right: 18px;
      bottom: -3px;
    }
  }

  &__btn:before,
  &__btn:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  &__btn:before {
    z-index: 2;

    background-color: $primary-red-color;

    transition: all 0.3s ease-in-out;
  }

  &__content:hover &__btn:before {
    background-color: $primary-yellow-color;
  }

  &__btn:after {
    z-index: 1;

    border: 2px solid $primary-red-color;

    background-color: transparent;

    animation: ripple 0.8s infinite ease-out;
  }

  &__content:hover &__btn:after {
    border-color: $primary-yellow-color;
  }

  &__btn .triangle {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;

    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid $primary-white-color;
    transform: translate(-20%, -50%);

    transition: all 0.2s ease-out;
  }

  .gooey {
    position: absolute;

    border-radius: 50%;

    background-color: rgba($primary-red-color, 0.2);

    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 70ms;
  }

  &__content:hover .gooey {
    background-color: $primary-red-color;
  }

  .gooey:nth-of-type(1) {
    top: 10%;
    right: 20%;

    width: 10rem;
    height: 10rem;

    @include respond(mobile) {
      width: 7.5rem;
      height: 7.5rem;
    }
  }

  .gooey:nth-of-type(2) {
    bottom: 10%;
    left: 10%;

    width: 5rem;
    height: 5rem;

    @include respond(mobile) {
      width: 4rem;
      height: 4rem;
    }
  }

  .gooey:nth-of-type(3) {
    top: 10%;
    left: 10%;

    width: 7rem;
    height: 7rem;

    @include respond(mobile) {
      width: 6rem;
      height: 6rem;
    }
  }

  &__content:hover .gooey:nth-of-type(1) {
    right: -30%;
    top: 0%;

    @include respond(mobile) {
      right: -20%;
    }
  }

  &__content:hover .gooey:nth-of-type(2) {
    bottom: -20%;
    left: -15%;

    @include respond(mobile) {
      left: -15%;
    }
  }

  &__content:hover .gooey:nth-of-type(3) {
    top: -15%;
    left: -10%;

    @include respond(mobile) {
      left: -8%;
    }
  }

  &__container {
    padding: 80px 0;

    background-color: $primary-red-color;

    @include respond(mobile) {
      padding: 30px 0;
    }
  }

  &__qnt {
    font-size: 5rem;
    font-weight: 600;

    color: $primary-white-color;

    @include respond(tablet) {
      font-size: 3.2rem;
    }

    @include respond(phone) {
      font-size: 2.8rem;
    }
  }

  &__description {
    font-size: 2rem;

    color: $primary-white-color;

    @include respond(tablet) {
      font-size: 1.6rem;
    }

    @include respond(phone) {
      font-size: 1.4rem;
    }
  }

  &__video-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;

    display: flex;
    visibility: hidden;
    opacity: 0;
  }

  &__video-container.show {
    visibility: visible;
    opacity: 1;
  }

  &__modal {
    position: absolute;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
  }

  &__video-container &__video {
    width: 50%;
    height: 55%;
    margin: auto;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: scale(0.3);
    visibility: hidden;

    transition: transform 0.35s ease-in-out;
    will-change: all;

    @include respond(mobile) {
      width: 90%;
      height: 35%;
    }
  }

  &__video.show {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
  }
}

@keyframes ripple {
  from {
    transform: scale(1);
    opacity: 0.5;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}
