@import "assets/styles/colors";
@import "assets/styles/mixins";

.home-work {
  text-align: center;
  margin: 100px 0;

  @include respond(mobile) {
    margin: 80px 0 40px;
  }

  &__steps {
    margin-top: 50px;

    @include respond(mobile) {
      margin-top: 30px;
    }
  }

  &__step {
    position: relative;

    margin: 0 45px;
    padding: 0 33px;
  }

  &__step:first-child {
    margin-left: 0;
  }

  &__step:last-child {
    margin-right: 0;
  }

  &__step:hover span {
    border-color: $primary-red-color;

    color: $primary-red-color;
    background-color: $primary-white-color;
  }

  &__step:hover &__content {
    color: $primary-red-color;
  }

  &__thumb-wrapper {
    position: relative;

    display: inline-block;
  }

  &__thumb-arrow {
    content: "";
    position: absolute;
    right: -45%;
    top: 50%;

    height: 2.8rem;
    width: 9rem;
    transform: translateY(-50%);

    background-repeat: no-repeat;

    @include respond(mobile) {
      display: none;
    }
  }

  &__thumb span {
    position: absolute;
    right: 0;

    font-size: 1.3rem;
    width: 6rem;
    height: 6rem;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 50%;
    border: 5px solid $primary-white-color;

    color: $primary-white-color;
    background-color: $primary-red-color;

    transition: all 0.25s ease;
  }

  &__img {
    border: 15px solid $primary-white-color;
    border-radius: 50%;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.06);
  }

  &__content {
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 25px;

    transition: all 0.25s ease;

    @include respond(phone) {
      margin-top: 20px;
    }
  }
}
