@import "assets/styles/colors";

.home-review {
  position: relative;

  margin: 80px 0;
  text-align: center;

  &__img-wrapper {
    position: relative;

    margin: auto;
    display: flex;
    width: 17.5rem;
    height: 17.5rem;
  }

  &__img-wrapper:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    transform: translateX(-7px) rotate(35deg);

    background-color: $primary-yellow-color;
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }

  &__name {
    text-transform: capitalize;
    font-size: 2.8rem;
    font-weight: 600;
    margin: 20px 0 10px;
  }

  &__role {
    font-size: 1.6rem;

    color: $primary-grey-color;
  }

  &__comment {
    font-size: 1.8rem;
    margin-top: 20px;
    line-height: 1.5;
  }

  // custom swiper
  .swiper-container {
    padding: 30px 0;
  }

  .swiper-container {
    padding: 20px 0 50px;
  }

  .swiper-pagination {
    bottom: 10px;
  }

  .swiper-pagination-bullet {
    position: relative;
    content: "";
    background-color: transparent;

    width: 1.6rem;
    height: 1.6rem;
    border: 2px solid $primary-yellow-color;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    &:before {
      position: absolute;
      content: "";
      right: 0;
      bottom: 0;

      width: 1.35rem;
      height: 1.35rem;
      border-radius: 50%;
      transform: translate(2.2px, 1.5px) scale(0.7);
      opacity: 0;
      transition: 0.3s ease-in-out;

      background-color: $primary-yellow-color;
    }

    &-active:before {
      opacity: 1;
      transform: translate(2.2px, 1.5px) scale(1);
    }
  }
}
