@import "assets/styles/colors";
@import "assets/styles/mixins";

.home-review {
  position: relative;

  margin: 80px 0;
  text-align: center;

  @include respond(mobile) {
    margin: 70px 0 60px;
  }

  &__img-wrapper {
    position: relative;

    margin: auto;
    display: flex;
    width: 17.5rem;
    height: 17.5rem;

    @include respond(mobile) {
      width: 13.5rem;
      height: 13.5rem;
    }
  }

  &__img-wrapper:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    transform: translateX(-7px) rotate(35deg);

    background-color: $primary-yellow-color;
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }

  &__name {
    text-transform: capitalize;
    font-size: 2.8rem;
    font-weight: 600;
    margin: 20px 0 10px;

    @include respond(tablet) {
      font-size: 2.5rem;
      margin-bottom: 5px;
    }

    @include respond(phone) {
      font-size: 1.85rem;
    }
  }

  &__role {
    font-size: 1.6rem;

    color: $primary-grey-color;

    @include respond(phone) {
      font-size: 1.4rem;
    }
  }

  &__comment {
    font-size: 1.8rem;
    margin-top: 20px;
    line-height: 1.5;
    padding: 0 60px;

    @include respond(mobile) {
      font-size: 1.5rem;
      margin-top: 10px;
      padding: 0;
    }

    @include respond(phone) {
      font-size: 1.4rem;
      overflow: hidden;
      display: block;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }

  // custom swiper
  .swiper-container {
    padding: 30px 0;
  }

  .swiper-container {
    padding: 20px 0 50px;
  }

  .swiper-pagination {
    bottom: 10px;
    cursor: default;

    @include respond(mobile) {
      bottom: 22px;
    }
  }

  .swiper-pagination-bullet {
    position: relative;
    content: "";
    background-color: transparent;

    width: 1.6rem;
    height: 1.6rem;
    border: 2px solid $primary-yellow-color;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    &:before {
      position: absolute;
      content: "";
      right: 0;
      bottom: 0;

      width: 1.3rem;
      height: 1.3rem;
      border-radius: 50%;
      transform: translate(2px, 1.5px) scale(0.7);
      opacity: 0;
      transition: 0.3s ease-in-out;

      background-color: $primary-yellow-color;
    }

    &-active:before {
      opacity: 1;
      transform: translate(2px, 1.5px) scale(1);
    }

    @include respond(mobile) {
      width: 1.45rem;
      height: 1.45rem;
    }

    &:before {
      @include respond(mobile) {
        width: 1.15rem;
        height: 1.15rem;
        transform: translate(1.2px, 1.2px) scale(0.7);
      }
    }

    &-active:before {
      @include respond(mobile) {
        transform: translate(1.2px, 1.2px) scale(1);
      }
    }
  }
}
