@import "assets/styles/colors";

.signin-container {
  display: flex;
  flex: 1;
  height: 70%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.03);

  background-color: $primary-white-color;
}

.signin-thumb {
  width: 55%;

  background-image: url("../../assets/svgs/signin-thumb.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  padding: 60px 50px;

  h2 {
    font-size: 2rem;
  }

  &__msg {
    font-size: 1.3rem;
    margin: 10px 0 10px;

    color: $primary-grey-color;
  }

  .signin-btn-wrapper {
    text-align: center;
  }

  .signin__separate {
    position: relative;

    text-align: center;
  }

  .signin__separate:after {
    position: absolute;
    content: "";
    height: 0.05rem;
    width: 100%;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    text-align: center;

    background-color: rgba($primary-grey-color, 0.15);
  }

  .signin__separate-text {
    position: relative;
    z-index: 1;

    font-size: 1.3rem;
    background-color: white;
    padding: 0 5px;

    color: $primary-grey-color;
  }

  .signin-options {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .signin-option {
    padding: 10px 12px;
    font-size: 1.3rem;
    margin-top: 15px;
    text-transform: unset;
    color: inherit;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
    border-radius: 999px;

    background-color: #fff;
  }

  .signin-option:hover {
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.2);

    background-color: #ebe9e9;
  }

  .signin-option--gg {
    margin-right: 20px;
  }

  .signin-option img,
  .signin-option svg {
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 5px;
  }

  .signin-option svg {
    fill: #4166b1;
  }

  .gg-icon,
  .fb-icon {
    margin-right: 3px;
  }
}
