@import "assets/styles/colors";
@import "assets/styles/mixins";

.signin {
  &__container {
    display: flex;
    flex: 1;
    height: 70%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.07);
    margin: 150px 0;

    background-color: $primary-white-color;

    @include respond(tablet) {
      box-shadow: none;
      flex-direction: column;
      margin: 70px 0;
    }

    @include respond(phone) {
      margin: 50px 0;
    }
  }

  &__thumb {
    width: 55%;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @include respond(mobile) {
      width: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    padding: 60px 50px;

    @include respond(mobile) {
      width: 100%;
    }

    @include respond(phone) {
      padding: 20px 0;
    }
  }

  h2 {
    font-size: 2rem;
  }

  &__msg {
    font-size: 1.3rem;
    margin: 15px 0 15px;

    color: $primary-grey-color;
  }

  &__separate {
    position: relative;

    text-align: center;
  }

  &__separate:after {
    position: absolute;
    content: "";
    height: 0.05rem;
    width: 100%;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    text-align: center;

    background-color: rgba($primary-grey-color, 0.15);
  }

  &__separate-text {
    position: relative;
    z-index: 1;

    font-size: 1.3rem;
    background-color: white;
    padding: 0 5px;

    color: $primary-grey-color;
  }

  &__options {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @include respond(phone) {
      flex-direction: column;
    }
  }

  &__options &__option {
    padding: 10px 12px;
    font-size: 1.3rem;
    margin-top: 15px;
    text-transform: unset;
    color: inherit;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
    border-radius: 999px;

    background-color: $primary-white-color;

    @include respond(phone) {
      min-width: 65%;
    }
  }

  &__options &__option:hover {
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.2);

    background-color: #ebe9e9;
  }

  &__options &__option--gg {
    margin-right: 20px;

    @include respond(phone) {
      margin-right: 0;
      margin-bottom: 5px;
    }
  }

  &__options &__option img,
  &__options &__option svg {
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 5px;
  }

  &__options &__option svg {
    fill: #4166b1;
  }

  &__options .gg-icon,
  &__options .fb-icon {
    margin-right: 3px;
  }
}
