@import "assets/styles/mixins";

.detail-img {
  display: flex;
  flex-direction: column;

  &__main {
    overflow: hidden;
  }

  &__main > div {
    width: 100%;
    height: 50rem;
  }

  &__main-mobile {
    width: 100%;
    height: 100%;
  }

  &__main > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__main.last img {
    transform: scale(1.3) translate(8px, 8px);
  }

  &__slides {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
    column-gap: 15px;
    margin-top: 20px;

    @include respond(phone) {
      display: flex;
      width: 19.5rem;
    }
  }

  &__slide {
    height: 9.5rem;
    overflow: hidden;

    cursor: pointer;

    @include respond(phone) {
      height: 8.5rem;
    }
  }

  &__slide img {
    height: 100%;
    width: 100%;
    object-fit: contain;

    transition: all 0.25s ease-out;
  }

  &__slide:hover img {
    transform: scale(1.08);
  }

  &__slide.last img {
    filter: brightness(0.8);
    opacity: 0.5;
  }

  &__slide:last-child img {
    transform: scale(1.4) translate(8px, 8px);
  }

  &__slide:last-child:hover img {
    transform: scale(1.48) translate(8px, 8px);
  }
}
