@import "assets/styles/colors";

.checkout-progress {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__node {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__icon {
    position: relative;

    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    box-shadow: 0 1px 12px rgba($primary-red-color, 0.15);

    background-color: $primary-red-color;
  }

  &__icon svg {
    position: absolute;
    top: 50%;
    left: 50%;

    font-size: 2.3rem;
    transform: translate(-50%, -50%);

    fill: $primary-white-color;
  }

  &__description {
    font-size: 1.4rem;
    margin-top: 10px;
    font-weight: bold;
  }

  &__line {
    height: 1rem;
    width: 100%;
    margin: -25px -5px 0;

    background-color: $primary-red-color;
  }
}
