@import "assets/styles/colors";
@import "assets/styles/mixins";

.checkout-content {
  display: flex;
  gap: 80px;
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 75px;

  @include respond(mobile) {
    flex-direction: column;
    padding: 0;
    max-width: unset;
  }

  &__left {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 50px;
    margin: 70px 0 100px;

    @include respond(mobile) {
      width: 100%;
      margin-bottom: 0;
      padding: 0 10px;
    }
  }

  &__right {
    position: relative;

    width: 50%;
    margin: 50px 0 50px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.35);
    border-radius: 6px;
    padding: 90px 40px 0;

    background-color: rgba(0, 0, 0, 0.89);

    @include respond(mobile) {
      width: 100%;
      border-radius: 0;
      padding: 80px 10px;
      margin-top: 0;
    }
  }
}
