.shop-content {
  display: flex;
  flex-direction: column;
  flex: 1;

  .spinner {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
  }
}
