@import "assets/styles/colors";
@import "assets/styles/mixins";

.form-signin {
  margin-bottom: 15px;

  &__commit {
    display: inline-flex;
    align-items: center;
    font-size: 1.3rem;
    margin-bottom: 10px;
  }

  &__commit-checkbox svg {
    width: 20px;
    height: 20px;
  }

  &__commit-msg {
    margin-left: 3px;
  }

  .signin-btn-wrapper {
    text-align: center;
  }

  .pr-red-btn > .btn {
    padding: 10px 25px;
  }
}
