@import "assets/styles/colors";
@import "assets/styles/mixins";

.burger-nav {
  @include respond(desktop) {
    display: none;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 998;
    opacity: 0;
    visibility: hidden;

    background-color: rgba(0, 0, 0, 0.3);

    transition: all 0.3s ease;
  }

  &__overlay.active {
    opacity: 1;
    visibility: visible;
  }

  &__content {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999;

    height: 100%;
    width: 80%;
    padding: 10px 15px;
    transform: translateX(-100%);

    background-color: rgba(0, 0, 0, 0.97);

    transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

    @include respond(phone) {
      padding-left: 12px;
      padding-right: 12px;
    }
  }

  &__content.active {
    transform: translateX(0);
  }

  &__item {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    line-height: 1.7;
    padding: 10px 0;
    margin: 2px 0;

    color: $primary-white-color;

    cursor: pointer;

    @include respond(phone) {
      font-size: 1.3rem;
    }
  }

  &__item svg {
    font-size: 2.2rem;
    margin-right: 8px;

    @include respond(phone) {
      font-size: 1.8rem;
    }
  }

  &__favourite {
    display: flex;
    align-items: center;
    padding: 15px 0;
    margin-top: 15px;

    border-top: 1px solid rgba($primary-white-color, 0.2);
  }

  &__favourite svg {
    font-size: 2.2rem;
    margin-right: 8px;

    fill: $primary-white-color;

    @include respond(phone) {
      font-size: 1.8rem;
    }
  }

  &__favourite span {
    font-size: 1.4rem;
    text-transform: uppercase;

    color: $primary-white-color;

    @include respond(phone) {
      font-size: 1.3rem;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba($primary-white-color, 0.2);
  }

  &__account {
    display: flex;
    align-items: center;
  }

  &__account &__icon {
    width: 3.5rem;
    height: 3.5rem;

    @include respond(phone) {
      width: 3rem;
      height: 3rem;
    }
  }

  &__username {
    font-size: 1.4rem;
    margin-left: 8px;

    color: $primary-white-color;

    @include respond(phone) {
      font-size: 1.3rem;
    }
  }

  &__logout {
    font-size: 1.4rem;

    color: $primary-white-color;

    @include respond(phone) {
      font-size: 1.3rem;
    }
  }
}
