@import "assets/styles/colors";
@import "assets/styles/mixins";

// desktop
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;

  padding: 8px 0;
  margin-top: 5px;
  width: 100%;

  @include respond(mobile) {
    padding: 5px 0;
    display: none;
  }

  transition: 0.2s ease-out;

  .hamburger-btn {
    display: none;
    width: 3.3rem;
    height: 3.3rem;

    fill: $primary-white-color;

    cursor: pointer;

    @include respond(mobile) {
      display: block;
    }
  }

  &__container {
    display: flex;
    align-items: center;

    @include respond(mobile) {
      justify-content: space-between;
    }
  }

  &--left,
  &--right {
    display: flex;
    align-items: center;
  }

  &--left {
    @include respond(mobile) {
      display: none;
    }
  }

  &--right {
    margin-left: auto;

    @include respond(mobile) {
      margin-left: unset;
    }
  }

  &__logo {
    height: 4.8rem;

    @include respond(mobile) {
      height: 4rem;
    }
  }

  &__list {
    display: flex;
    margin-left: 15px;
  }

  &__item {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 1.4rem;
    padding: 3px;
    margin: 0 8px;

    color: $primary-white-color;

    transition: 0.2s ease-out;

    cursor: pointer;
  }

  &__item svg {
    width: 2rem;
    height: 2rem;
    margin-right: 5px;
  }

  &__item:hover {
    color: $primary-red-color;
  }

  &__cart {
    position: relative;
    padding: 5px;

    cursor: pointer;
  }

  &__cart > svg {
    font-size: 2.8rem;

    color: $primary-white-color;
  }

  &__cart-qnt {
    position: absolute;
    bottom: 2px;
    right: -6px;

    font-size: 1.3rem;
    width: 2.2rem;
    height: 2.2rem;
    line-height: 2.2rem;
    text-align: center;
    border-radius: 50%;

    color: $primary-white-color;
    background-color: $primary-yellow-color;
  }

  &__account {
    position: relative;

    display: flex;
    align-items: center;
    margin-left: 40px;

    cursor: pointer;

    @include respond(mobile) {
      display: none;
    }
  }

  &__account:after {
    position: absolute;
    left: 0;
    bottom: -8px;
    content: "";

    width: 100%;
    height: 2rem;

    background-color: transparent;
  }

  &__username {
    font-size: 1.4rem;
    margin-left: 8.5px;

    color: $primary-white-color;
  }

  &__account:hover &__account-options {
    top: 45px;

    visibility: visible;
    opacity: 1;
  }

  &__account-options {
    position: absolute;
    right: 0;
    top: 55px;

    padding: 7px 0;
    border-radius: 4px;
    min-width: 11.7rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.15);
    visibility: hidden;
    opacity: 0;

    background-color: $primary-white-color;

    transition: all 0.15s linear;
  }

  &__account-options:before {
    position: absolute;
    right: 12px;
    top: -19.5px;

    content: "";

    border-top: 10.5px solid transparent;
    border-left: 10.5px solid transparent;
    border-right: 10.5px solid transparent;
    border-bottom: 10.5px solid $primary-white-color;
  }

  &__account-option {
    display: flex;
    align-items: center;

    font-size: 1.4rem;
    line-height: 1.8;
    padding: 6px 15px;

    transition: all 0.08s ease-out;
  }

  &__account-option:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  }

  &__account-option:hover {
    background-color: rgba(0, 0, 0, 0.08);
    cursor: pointer;
  }

  &__account-option svg {
    margin-right: 5px;
    font-size: 1.8rem;

    fill: rgba(0, 0, 0, 0.84);
  }

  &.active {
    margin-top: 0;

    background-color: $primary-black-color;
  }
}
