@import "assets/styles/colors";

.navbar {
  position: fixed;
  top: 0;
  z-index: 999;

  padding: 5px 0;
  margin-top: 5px;
  width: 100%;

  background-color: transparent;

  transition: 0.2s ease-out;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &--left,
  &--right {
    display: flex;
    align-items: center;
  }

  &__link {
    height: 6rem;
  }

  &__logo {
    height: 5.3rem;
  }

  &__list {
    display: flex;
    margin-left: 15px;
  }

  &__item {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 1.3rem;
    padding: 3px;
    margin: 0 8px;

    color: $primary-white-color;

    transition: 0.2s ease-out;

    cursor: pointer;
  }

  &__item:hover {
    color: $primary-red-color;
  }

  &__cart {
    position: relative;
    padding: 5px;

    cursor: pointer;
  }

  &__cart > svg {
    font-size: 2.8rem;

    color: $primary-white-color;
  }

  &__cart-qnt {
    position: absolute;
    bottom: 2px;
    right: -6px;

    font-size: 1.3rem;
    width: 2.2rem;
    height: 2.2rem;
    line-height: 2.2rem;
    text-align: center;
    border-radius: 50%;

    color: $primary-white-color;
    background-color: $primary-yellow-color;
  }

  &__account {
    display: flex;
    align-items: center;
    margin-left: 40px;

    cursor: pointer;
  }

  &__username {
    font-size: 1.3rem;
    margin-left: 8px;

    color: $primary-white-color;
  }

  &.active {
    margin-top: 0;

    background-color: $primary-black-color;
  }
}
