@import "assets/styles/colors";

.checkbox {
  position: relative;

  font-size: 1.4rem;
  display: flex;
  align-items: center;
  padding: 10px 30px;
  margin: 3px 0;

  cursor: pointer;

  &__input {
    display: none;
    margin-right: 5px;
  }

  .checkmark {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;

    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 3px solid $primary-grey-color;
    transform: translateY(-50%);

    transition: all 0.2s ease-out;
  }

  &__input:checked ~ .checkmark {
    border-color: $primary-red-color;
  }

  .checkmark:after {
    position: absolute;
    content: "";
    top: 1px;
    left: 1px;

    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;

    background-color: transparent;

    transition: all 0.1s ease-out;
  }

  &__input:checked ~ .checkmark:after {
    background-color: $primary-red-color;
  }
}
