@import "assets/styles/mixins";

.shop-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;

  @include respond(mobile) {
    margin-top: 30px;
    margin-bottom: -5px;
  }

  img {
    width: 50rem;

    @include respond(tablet) {
      width: 35rem;
    }

    @include respond(phone) {
      width: 25rem;
    }
  }

  &__title {
    font-size: 2.2rem;
    margin-top: 25px;
    line-height: 1.7;
    text-transform: capitalize;

    @include respond(tablet) {
      font-size: 1.8rem;
    }

    @include respond(phone) {
      font-size: 1.6rem;
    }
  }
}
