@import "assets/styles/colors";
@import "assets/styles/mixins";

.banner {
  height: 80rem;
  flex-shrink: 0;
  width: 100%;

  background-size: cover;
  background-repeat: no-repeat;

  .container-ui {
    height: 100%;
  }

  @include respond(mobile) {
    height: 50rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;

    @include respond(mobile) {
      text-align: center;
      width: 100%;
    }
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;

    color: $primary-white-color;

    @include respond(mobile) {
      font-size: 1.4rem;
    }
  }

  &__description {
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 1.2;
    margin: 5px 0 15px;

    color: $primary-white-color;

    @include respond(mobile) {
      font-size: 4.5rem;
    }
  }

  .pr-red-btn &__icon {
    margin-right: 5px;
    width: 1.8rem;
    height: 1.8rem;

    fill: $primary-white-color;
  }
}
