@import "assets/styles/colors";
@import "assets/styles/mixins";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  line-height: 1.2;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;

  color: $primary-black-color;
  background-color: $primary-white-color;

  .MuiContainer-root {
    padding: 0 75px;

    @include respond(mobile) {
      padding: 0 10px;
    }
  }

  .MuiCheckbox-root {
    padding: 3px;
  }
}

strong {
  color: $primary-red-color;
}

a {
  text-decoration: none;
}

button {
  outline: 0;
  border: none;

  cursor: pointer;
}

ul {
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 1.3rem;
  background-color: $scrollbar-background-color;
}

::-webkit-scrollbar-track {
  margin: 3px 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid transparent;

  background-clip: content-box;
  background-color: $scrollbar-color;
  background-clip: content-box;
}
