@import "colors";
@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");

.pr-yellow-text {
  font-size: 1.8rem;
  font-family: "Pangolin", cursive;

  color: $primary-yellow-color;

  @include respond(mobile) {
    font-size: 1.5rem;
  }
}

.pr-heading-text {
  font-size: 3.2rem;
  margin-top: 5px;
  font-weight: bold;

  color: $primary-black-color;

  @include respond(mobile) {
    font-size: 2.2rem;
  }
}
