@import "assets/styles/colors";
@import "assets/styles/mixins";

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 32.5rem;
  width: 100%;
  margin-bottom: 80px;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include respond(mobile) {
    margin-bottom: 30px;
  }

  &__title {
    font-size: 3.6rem;
    text-align: center;
    text-transform: capitalize;

    color: $primary-white-color;

    @include respond(mobile) {
      font-size: 2.8rem;
    }
  }

  &__paths {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
  }

  &__path {
    font-size: 1.4rem;
    margin: 5px;
    padding: 7px;
    text-transform: capitalize;

    color: $primary-white-color;

    transition: 0.2s ease-out;

    @include respond(mobile) {
      margin: 3px;
    }
  }

  @media (hover: hover) {
    &__path:hover {
      color: $primary-red-color;

      cursor: pointer;
    }
  }

  &__path.active {
    color: $primary-red-color;
  }

  svg {
    fill: $primary-white-color;
  }
}
